container_commands:
    01_django_collectstatic:
        command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"
    02_django_migrate:
        command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: config.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static